<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Connect</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
   
</head>
<body class="bg-gray-900 text-white">

<!-- Navigation bar -->
<nav class="flex justify-center bg-gray-900 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <h1 class="text-xl font-bold">Student Connect</h1>
        </div>
        <div class="justify-center">
            <ul class="flex space-x-4">
              <li><a href="upload.html" class="text-white hover:text-blue-900">Tests</a></li>
              <li><a href="{{ url_for('index') }}" class="text-white hover:text-blue-900">Contact Teacher</a></li>

              
              <li><a href="{{ url_for('preview') }}" class="text-white hover:text-blue-900">Progress</a></li>
              <li><a href="{{ url_for('qa') }}" class="text-white hover:text-blue-900">Login/SignUp</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mx-auto p-4">
    <div class="max-w-full mx-auto">
        <div class="text-center mb-8">
            <h1 class="text-3xl font-bold">Welcome to EduConnect</h1>
        </div>

        <div class="mb-6">
            <p>
                EduConnect is a platform where students view educational content, prepare for exams through our mcq tests and gain valuable insights on how to improve their performance. This platform also allows teachers to supervise students and guide them accordingly. 
            </p>
            
        </div>
        <hr>
        <!-- 3D Boxes -->
        <div class="max-w-full flex justify-center space-x-4 mt-6">
            <div class="w-32 h-32 bg-red-500 shadow-lg shadow-red-500/50 transform perspective cursor-pointer" id="std1">
                <p class="text-white text-lg font-bold py-14 px-4" onClick="redirectFirst()">1st Standard</p>
            </div>

            <div class="w-32 h-32 bg-purple-500 shadow-lg shadow-purple-500/50 transform perspective ">
                <p class="text-white text-lg font-bold py-14 px-4">2nd Standard</p>
            </div>

            <div class="w-32 h-32 bg-gray-500 shadow-lg shadow-grey-500/50 transform perspective ">
                <p class="text-white text-lg font-bold py-14 px-4">3th Standard</p>
            </div>

            <div class="w-32 h-32 bg-pink-500 shadow-lg shadow-pink-500/50 transform perspective ">
                <p class="text-white text-lg font-bold py-14 px-4">4th Standard</p>
            </div>
            
            <div class="w-32 h-32 bg-red-500 shadow-lg shadow-red-500/50 transform perspective ">
                <p class="text-white text-lg font-bold py-14 px-4">5th Standard</p>
            </div>
            <div class="w-32 h-32 ml-10 bg-green-500 shadow-lg shadow-green-500/50 transform perspective">
                <p class="text-white text-lg font-bold py-14 px-4">6th Standard</p>
            </div>
            <div class="w-32 h-32 mr-10 bg-blue-500 shadow-lg shadow-blue-500/50 transform perspective">
                <p class="text-white text-lg font-bold py-14 px-4">7th Standard</p>
            </div>
            <div class="w-32 h-32 mr-10 bg-yellow-500 shadow-lg shadow-yellow-500/50 transform perspective">
                <p class="text-white text-lg font-bold py-14 px-4">8th Standard</p>
            </div>
            <div class="w-32 h-32 bg-pink-500 shadow-lg shadow-pink-500/50 transform perspective">
                <p class="text-white text-lg font-bold py-14 px-4">9th Standard</p>
            </div>
        </div>
    </div>
</div>



<script>
    function redirectFirst(){
        window.location.href = './Content/std1.html'; 
    }
    
</script>

</body>
</html>